<% content_for :title, "Codebattalion" %>
<div class = "background-image"></div>
<div class = "navbar navbar-static-top">
  <h1 align = "center">CODEBATTALION</h1>
</div>
<div class = "container" style="text-align:center;">
  <div class = "background-image"></div>
  <div id = "section">
    <p align = "center">
      Create and solve interesting programming challenges.
    </p>
    <p align = "center">
      Tailored by hackers, for hackers.
    </p>
    <%= link_to "Login", login_path, {class: "btn btn-primary btn-large"}%>&nbsp;&nbsp;<%= link_to "Sign up", signup_path, {class: "btn btn-primary btn-large"}%>
  </div>
  <div class="row">
    <hr>
    <p class="text-muted" align = "center">Brought to you by Bonsai Labs,inc.</p>
  </div>
</div>


</div>
